<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>{{ title }}</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
        <!-- <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' /> -->
        <!-- <link rel="stylesheet" href="{{ asset('uimagine.design/bower_components/Ionicons/css/ionicons.min.css') }}" /> -->
        <!-- <link rel="stylesheet" href="{{ asset('uimagine.design/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" /> -->

        <!-- Material Icons ################################################ -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

        <!-- Font Awesome ################################################## -->
        <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" />

        <!-- UImagine Design ############################################### -->
        <link rel="stylesheet" href="{{ asset('uimagine.design/css/dist/uimagine.css') }}" />

        <!-- Custom CSS -->
        {% block css %}{% endblock %}
    </head>
    <body>
        <nav class="side bar top alt container_ sm_">
            <div class="container_ sm_">
                <div class="logo">
                    <a href="#">
                        <!-- <img src="{{ asset('img/google-logo.png') }}" /> -->
                        <img src="{{ asset('img/pepsi-logo.png') }}" />
                        <!-- <img src="{{ asset('img/pepsi-logo-branco.png') }}" /> -->
                        <!-- <img src="http://vignette3.wikia.nocookie.net/mario/images/6/62/Old_Nintendo_Logo.png/revision/latest?cb=20111120004310" /> -->
                    </a>
                </div>
                <div class="topbar">
                    <ul class="left">
                        <li><a href="#" id="toogle-menu"><i class="material-icons">menu</i></a></li>
                    </ul>
                    <ul class="right">
                        <li><a href="#"><i class="material-icons">save</i></a></li>
                        <li><a href="#"><i class="material-icons">more_vert</i></a></li>
                    </ul>
                </div>
                <div class="menu">
                    <!-- <ul class="right">
                        <li class="active_"><a href="#"><i class="material-icons">home</i></a></li>
                        <li class="active"><a href="#"><i class="material-icons with-text">keyboard_arrow_down</i>Instalação</a></li>
                        <li><a href="#"><i class="material-icons with-text">timer</i>Instalação</a></li>
                        <li><a href="#"><i class="material-icons with-text">view_compact</i>Smart Grid</a></li>
                        <li><a href="#"><i class="material-icons">keyboard_arrow_down</i>Formulário</a></li>
                        <li><a href="#"><i class="material-icons">keyboard_arrow_down</i>Modal</a></li>
                    </ul> -->
                    <ul class="right">
                        <li><a href="#">Instalação</a></li>
                        <li class="active"><a href="#">Instalação</a></li>
                        <li><a href="{{ path('grid') }}">Smart Grid</a></li>
                        <li><a href="{{ path('table') }}">Tabela</a></li>
                        <li class="dropdown">
                            <a href="#"><i class="material-icons with-text">keyboard</i>Formulário</a>
                            <ul>
                                <li><a href="#"><i class="material-icons with-text">keyboard</i>Formulário</a></li>
                                <li><a href="#"><i class="material-icons with-text">keyboard</i>Formulário</a></li>
                                <li><a href="#"><i class="material-icons with-text">keyboard</i>Formulário</a></li>
                                <li><a href="#"><i class="material-icons with-text">keyboard</i>Formulário</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><i class="material-icons with-text">keyboard</i>Teste</a>
                            <ul>
                                <li><a href="#">Formulário</a></li>
                                <li><a href="#">Formulário</a></li>
                                <li><a href="#">Formulário</a></li>
                                <li><a href="#">Formulário</a></li>
                                <li><a href="#">Formulário</a></li>
                                <li><a href="#">Formulário</a></li>
                                <li><a href="#">Formulário</a></li>
                                <li><a href="#">Formulário</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Modal</a></li>
                    </ul>
                    <!-- <ul class="right">
                        <li><a href="#">RecebimentoRecebimento</a></li>
                        <li><a href="#"><i class="material-icons">attach_file</i><span class="badge">8</span></a></li>
                        <li><a href="#"><i class="material-icons">person_outline</i><span class="badge">99</span></a></li>
                    </ul> -->
                </div>
            </div>
        </nav>
        <div class="container sm content">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('uimagine.design/js/main.js') }}"></script>
    </body>
</html>
